<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <aside class="aside">
      <img class="img1" src="images/graduated.png" />
      <h3 class="h5"> Edulogy</h5>
      <ul class="ul">
        <li><a class="list" href="/">Home</a></li>
        <li><a class="list" href="trainers">Trainer</a></li>
        <li><a class="list" href="students">Student</a></li>
        <li><a class="list" href="courses">Courses</a></li>
        <li><a class="list" href="assigments"> Assigment</a></li>
      </ul>
    </aside>
    <section class="section" style="background-color: black;">
      <header class="contact">
        <h2>Contact us</h2> 
        <a><img class="social" src="images/facebook.png"></a>
        <a><img class="social"src="images/instagram-symbol.png"></a>
        <a><img class="social"src="images/twitter.png"></a>
      </header>
      <fieldset>
        <h1 class="heading4"><%= title %></h1>
        <div>
        <table class="table" border="1">
        <tr>
        <td>ID</td> 
        <td>First Name</td>
        <td>Last Name</td>
        <td>Birth</td>
        <td>Fees</td>  
        </tr>
        <tr>
        <% for(var i = 0 ; i  < students.length ; i++){ %>
        <td><span><%= students[i].student_id %></span>&nbsp;</td>
        <td><span><%= students[i].firstName %></span>&nbsp;</td>
        <td><span><%= students[i].lastName %></span>&nbsp;</td>
        <td><span><%= students[i].dateOfBirth %></span>&nbsp;</td>
        <td><span><%= students[i].tuituonFees %></span></td>
        <br>
        </tr>
        <% } %>
        </table>
        <form class="form1" action="" method="POST">
          <button class="add" type="submit">Add Student</button>
        </form>
      </fieldset>
      </div>
    </section>
  </main>